body {
    margin-left: 40px;
}

hr {
    clear: both;
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, form, button {
    font-style: Segoe UI;
}

h1 {
    margin-top: 15px;
    font-size: 40px;
    font-weight: 200;
    color: rgb(30,30,30);
}

h2 {
    font-size: 25px;
    font-weight: 400;
    color: rgb(55,55,55);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
    margin-top: 0;
    font-weight: normal;
    font-style: italic;
}

#scrollPx {
    margin-bottom: 10px;
}

form {
    font-size: 15px;
}

input {
    font-size: 20px;
    font-weight: 100;
}

article {
    margin-bottom: 30px;
}

button {
    font-size: 20px;
    margin-right: 30px;
}

span {
    display: none;
    font-size: 20px;
    -webkit-transition: all .58s ease-in-out;
}

span.fadeOut {
    opacity: 0;
}